# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# environment and secrets
**/venv

.env
.test.env
*/.env
*/.test.env
MY-NOTES.md

# backend
**/__pycache__
**/*.sqlite3

# dependencies
*/node_modules

# testing
/coverage

# production
dist
dist-ssr

# misc
.vscode/*
!.vscode/extensions.json
.DS_Store
.firebase/
.firebaserc
firebase.json
firebase-debug.log

# Logs
logs
*.log
npm-debug.log*
