.article {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.articleLeft,
.articleRight {
	margin: 0 1.5rem;
	padding: 2rem 0;
	border-top: 1px solid var(--grey-font-color);
	font-size: 1rem;
}

.articleLeft svg,
.articleRight svg {
	width: 4rem;
	height: auto;
	margin: 0 0 1.5rem 0;
}

.articleLeft h2,
.articleRight h2 {
	font-size: inherit;
	color: inherit;
}

.articleLeft h2,
.articleRight h2 {
	text-align: left;
}

.articleLeft h2,
.articleRight h2,
.article p > span {
	font-weight: var(--strong-font-weight);
}

@media screen and (min-width: 640px) {
	.articleLeft,
	.articleRight {
		font-size: 1.1rem;
	}
}

@media screen and (min-width: 860px) {
	/* .article {
		margin: 0 1rem;
		padding-left: 3rem;
		padding-right: 3rem;
	} */

	.articleLeft {
		display: grid;
		grid-template-columns: 7rem 1fr;
		grid-template-rows: 1fr 6rem;
		margin: 0 1rem;
		padding-left: 3rem;
		padding-right: 3rem;
		text-align: left;
	}

	.articleLeft > div:first-of-type {
		grid-area: 1 / 1 / 2 / 2;
	}

	.articleLeft > p {
		grid-area: 1 / 2 / 2 / 3;
	}

	.articleRight {
		display: grid;
		grid-template-columns: 1fr 6rem;
		grid-template-rows: 1fr 6rem;
		margin: 0 1rem;
		padding-left: 3rem;
		padding-right: 3rem;
		text-align: left;
	}

	.articleRight > div:first-of-type {
		grid-area: 1 / 2 / 2 / 3;
		text-align: right;
	}

	.articleRight > p {
		grid-area: 1 / 1 / 2 / 2;
	}
}

@media screen and (min-width: 1400px) {
	.article {
		margin: 0;
	}
}
