.gallery {
	margin: 0 1.5rem;
	clear: both;
	column-count: 2;
	column-gap: 0.3rem;
}

.card {
	display: inline-block;
	position: relative;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

.card:hover {
	transform: scale(1.05) ;
	z-index: 1;

}

.rabbitImg {
	width: 100%;
	object-fit: cover;
}

.gallery .card::before {
	content: attr(dataname);
	position: absolute;
	border: 1px solid var(--static-bg-color);
	border-radius: 0 0.7rem 0.7rem 0;
	background-color: var(--static-bg-color);
	color: var(--accent-text-color);
	padding: 0.2rem 0.5rem;
	margin: 0.5rem 0.5rem 0.5rem 0;
	font-size: 1rem;
}

.detailedCard {
	min-width: 320px;
	padding: 1rem;
	border-radius: .5rem;
	border: 1px solid var(--grey-bg-color);
	background-color: var(--body-bg-color);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--grey-font-color);
	font-size: .95rem;
}

.detailedCard img {
	max-width: 350px;
	max-height: 350px;
	object-fit: cover;
	border-radius: 0.5rem;
}

.detailedCard h3 {
	font-weight: bold;
	font-size: 1.2rem;
}

.detailedCard button {
	display: block;
	margin: 1rem 0 1rem 0;
}

.rabbitDetails {
	margin-bottom: 2rem;
}

@media screen and (min-width: 640px) {
	.gallery {
		column-count: 3;
	}

	.gallery .card::before {
		font-size: var(--body-font-size);
	}
}

@media screen and (min-width: 550px) {
	.detailedCard {
		flex-direction: row;
		min-width: 550px;
	}
}

@media screen and (min-width: 1200px) {
	.gallery {
		column-count: 4;
	}
}

@media screen and (min-width: 1400px) {
	.gallery {
		margin: 0;
	}
}


