.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: var(--header-font-size);
	padding: 1.5rem .7rem 1.5rem;
}

@media screen and (min-width: 1400px) {
	.header {
		padding-left: 0;
		padding-right: 0;
	}
	
}




