.sideBarOpen {
    display: flex;
    flex-direction: column;
    padding: .7rem .7rem .4rem;
    background-color: var(--body-bg-color);
    font-family: var(--main-font-family);
    font-size: var(--header-font-size);
    font-weight: var(--body-font-weight);
}

.sideBarOpen > .navItem {
    padding: .3rem 0;
}

.sideBarClosed {
    display: none;
}

.navItem {
    display: inline;
    line-height: 1.5rem;
    margin: .6rem;
}
.navItem a {
    display: inline-block;
    font-weight: var(--strong-font-weight);
    color: var(--primary-color);
    margin-right: 1rem;
}
 
.navItem a.active {
    color: var(--primary-hover-color);
    border-bottom: 2px solid var(--primary-hover-color);
}

.navItem a:hover {
    color: var(--primary-hover-color);
}

@media screen and (min-width: 992px) {
	.expandedMenuBar {
		display: flex;
        align-items: center;
        justify-content: flex-end;
	}

    .expandedMenuBar > .navItem:last-of-type {
        margin-right: 0;
    }
}
