/* used my-* classes to distinguish from bootstrap classes */


/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Nunito+Sans:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap');


/* --------------- RESET ------------- */

html, 
body, 
header, 
footer, 
section, 
article, 
h1, 
h2, 
h3, 
p, 
a, 
button, 
ul, 
address, 
svg,
input,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

.row, .row * {
    margin: 0;
    padding: 0;
    width: auto;
}

/* --------------- DEFAULTS ------------- */

:root {

    --primary-color: #11644d;
    --primary-hover-color: #0a4031;
    --primary-text-hover-color: #002211;
    --static-bg-color: #11644d;
    --extra-bg-color: #11644d;
    --extra-bg-hover-color: #0a4031;
    --contact-title-color: white;
    --donate-text-color: white;
    --donate-text-hover-color: white;

    --primary-text-color: white;

    --accent-color: #cc4b00;
    --accent-hover-color: #a53e02;
    --accent-text-color: white;
    --feature-btn-color: #cc4b00;
    --feature-btn-hover-color: #a53e02;

    --body-bg-color: white;
    --grey-bg-color: #EDEDED;
    --grey-font-color: #616161;
    --modal-bg-color: rgba(0, 0, 0, 0.6);
    

    --main-font-family: "Nunito";
    --body-font-family: "Nunito Sans";
    --body-font-weight: 300;
    --strong-font-weight: 400;
    --bold-font-weight: 700;

    --body-font-size: 1rem;
    --header-font-size: 1.2rem;
}

body {
    color: var(--primary-color);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    background-color: var(--body-bg-color);
    font-weight: var(--body-font-weight);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    padding: 1rem;
    font-family: var(--main-font-family);
    font-size: var(--header-font-size);
}

main {
    color: var(--grey-font-color);
}

svg {
    display: inline-block;
    stroke: var(--primary-color);
}

h1 {
    font-family: var(--main-font-family);
    font-size: 1.4rem;
    font-weight: var(--bold-font-weight);
    color: var(--primary-color);
    text-align: center;
    padding: 2rem 0;
}

h2 {
    font-family: var(--main-font-family);
    font-size: 1.5rem;
    font-weight: var(--body-strong-font-weight);
    color: var(--primary-color);
    text-align: center;
    padding: 2rem 0;
}

h3 {
    font-family: var(--main-font-family);
    margin-bottom: 1rem;
}

input:-internal-autofill-selected {
    background-color: var(--body-bg-color) !important;
    color: var(--primary-color) !important;
}


@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #00bd87;
        --primary-hover-color: #6cf7cf;
        --grey-font-color: #dfdfdf;
        --body-bg-color: #292b2d;
        --grey-bg-color: #535353;
        --accent-color: #f87021;
        --accent-hover-color: #cd4b00;
        --extra-bg-color: #555555;
        --extra-bg-hover-color: #6c6c6c;
        --contact-title-color: #00bd87;
        --donate-text-color: #00bd87;
        --donate-text-hover-color: #6cf7cf;
    }
}

@media screen and (min-width: 415px) {

    h1 {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 640px) {

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 860px) {


    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

}

@media screen and (min-width: 992px) {


    h1 {
        font-size: 2.25rem;
    }

   
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 22px;
    position: relative;
    top: 5px;
}

