/* Modals and Forms  */

.modal {
    background-color: var(--my-modal-bg-color);
}

.modal-body {
    color: var(--my-grey-font-color);
}

.modal-content {
    background-color: var(--my-body-bg-color);
    border: 1px solid var(--my-grey-bg-color);
}

.modal-header {
    padding-top: 0;
    padding-bottom: 0;
    border-color: var(--my-grey-font-color);
}

.modal-footer {
    border: none;
}

.modal-title {
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.modal-body > p {
    margin-bottom: 1.5rem;
}

button.btn-close {
    opacity: .7;
}

.my-form {
    font-weight: 400;
}

.my-form > input,
.my-form > input.form-control,
.my-form > textarea.form-control {
    background-color: var(--my-body-bg-color);
    color: var(--my-grey-font-color);
    border: .8px solid var(--my-grey-font-color);
    border-radius: 5px;
    padding: .4rem;
}

.my-form > input:focus {
    box-shadow: 0 0 0 0.15rem var(--my-primary-color);
}

.my-form > input:focus-visible {
    outline-color: var(--my-primary-color);
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: var(--my-primary-color);
    background-image: none;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: var(--my-accent-color);
    background-image: none;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: var(--my-accent-color);
    box-shadow: 0 0 0 0.25rem rgba(220, 114, 53, 0.25);
}

.invalid-feedback {
    color: var(--my-accent-color);
}

.my-form > textarea {
    width: 100%;
}

.my-form-button {
    background-color: var(--my-body-bg-color);
    font-size: var(--my-body-font-size);
}

#my-thank-you-modal .modal-header,
#my-thank-you-modal .modal-footer {
    border: none;
}


